.media-body.ml-3.rtl-ml-0.rtl-mr-3 {
    p {
        float: right;
    }
}

.media-body {
    .float-left.font-size-12 {
        float: right !important;
    }
}


.breadcrumb-item+.breadcrumb-item::before 
{
    padding-left: .5rem;
    padding-right: 0px;
}

.breadcrumb-item+.breadcrumb-item
{
    padding-left: 0px;
    padding-right: .5rem;
}