.iq-footer {

    margin-left: 0px;
    margin-right: 260px;

}


@media (max-width: 551px){
    .iq-footer {
        margin-right: 0px;
    }
}
@media (max-width: 786px){
    .iq-footer {
        margin-right: 0px;
    }
}
@media (max-width: 1200px){
    .iq-footer {
        margin-right: 0px;
    }
}
body.tab-horizontal {
    .iq-footer {
        margin-right: 0;
        width: 100%;
    }
}

.iq-footer {
    &.rtl-footer {

        .col-lg-6 {
            &.text-right {
                text-align: left !important;
            }
        }

    }
}

.iq-footer {
    &.rtl-footer {
        .list-inline {
            &.rtl-center {
                text-align: center;
            }
        }
    }

}

.list-inline-item:not(:last-child) 
{
    margin-left: .5rem;
    margin-right: auto;
}  



@media(max-width:991px) {

    .iq-footer {
        &.rtl-footer {
            .col-lg-6 {
                &.text-right {
                    text-align: center !important;
                }
            }
        }
    }
   
    .iq-footer {
        &.rtl-footer {
            .list-inline {
                &.rtl-center {
                    text-align: center !important;
                }
            }
        }
    
    }

    .iq-footer{
        .list-inline{
            text-align: center !important;
        }
    }




}
@media (min-width: 1300px){
.sidebar-main .iq-footer {
    margin-right: 80px;
    width: calc(100vw - 85px);
}
}


.dahboard-2 .iq-footer{
    margin-right: 0px;
}
.fixed-top-navbar .iq-footer{
    margin-right: 0px;
}
@media(max-width:1299px) {

    .iq-footer {
        &.rtl-footer {
            .list-inline {
                &.rtl-center {
                    text-align: right;
                }
            }
        }
    
    }
  

}