#form-wizard3 {
	fieldset {
		&:not(:first-of-type) {
			display: none;
		}
	}
}
#top-tabbar-vertical {
	
	
	li {
		
		float: right;
		
		i {
			
			margin: 0 0 0 20px;
		}
		
	}

   text-align: right;

}
