
.custom-control-inline {
    &.change-rtl {
        .switch-rtl {
            
            opacity: 1;
            background: #05bbc9;
            color: #FFF;
            font-weight: 600;
            width: 45px;
            height: 45px;
            border: none;
            padding: 0;
            display: block;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 99;
            line-height: 45px;
            font-size: 85%;
            text-align: center;
            letter-spacing: 1px;
            border-radius: 28%;
            z-index: 9999;
            box-shadow: 0px 0px 30px 4px rgba($primary,.30);
     
        }
    
    }

}